h1, h2 {
    color: #018bd3;
}             
/* span {
    font-weight: normal;
}      */
                   /* Background colors */

.my-lightblue {
    background-color: #49c2ef;
}
.my-grey {
    background-color: #b2b1d9;
}
.my-lightorange {
    background-color: #fde698;
}
.my-lightgreen {
    background-color: #a8d18f;
}
.my-pink {
    background-color: #f8b6c4;
}
.my-lightpink {
    background-color: #f8cbae;
}
.my-lightskyblue {
    background-color: #9bc1e6;
}
.grey-background {
    background-color: #d9d9d9;
    width: 50%;
}
                    /* Border colors */
/* .border-lightblue {
    border: 1px solid #49c2ef;
}
.border-grey {
    border: 1px solid #b2b1d9;
}
.border-lightorange {
    border: 1px solid #fde698;
}
.border-lightgreen {
    border: 1px solid #a8d18f;
}
.border-pink {
    border: 1px solid #f8b6c4;
}
.border-lightpink {
    border: 1px solid #f8cbae;
}
.border-lightskyblue {
    border: 1px solid #9bc1e6;
} */