/* GENERAL STYLES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    max-width: 1920px;
}
.bold {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}

/* GRID SYSTEM */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    z-index: 1;
  }
.grid-item {
text-align: left;
}
.container {
    position: relative;
    display: flex;
}
picture {
    position: absolute;
    z-index: -1;
    max-width: 66%;
}
#background-img {
    position: absolute;
    z-index: -1;
    margin-left: 1em;
}
#hero {
    width: 100%;
    height: auto;
}
#div-02, #div-04 {
    visibility: hidden;
}
#div-01, #div-02, #div-03, #div-04, #div-05, #div-06, #div-07, #div-08, #div-09 {
    margin: 0 2.5em;
}
#div-03 {
    margin-bottom: 1.5em;
}
#div-08 {
     margin-top: -3em;
}
#div-07, #div-09 {
    margin-top: -1em;
}

/* HEADER */
header {
    position: relative;
}
h1 {
    font-size: 2rem;
    font-family: 'cricket-heavy';
    text-align: right;
    line-height: 80%;
}
h2 {
    font-size: 1.3rem;
    font-weight: normal;
}
#logo {
    width: 45%;
}
/* Over the background image*/

.centered-subtitle {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(16%, -385%);
}
.centered-title {
    position: relative;
    top: 66%;
    left: 50%;
    text-align: right;
    transform: translate(-40%, -170%);
}
.centered-logo {
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(14%, -55%);
}

/* MAIN */
table {
    width: 100%;
}
th, td {
    padding: 2px;
    line-height: 12px;
}
th {
    font-size: 1rem;
    padding: 6px;
}
td {
    font-size: 0.9rem;
}
.brand-logo {
    max-width: 75%;
    height: 75%;
}

/* FOOTER */ 
footer {
    font-family: sans-serif;
}
footer h4 {
    line-height: 28px;
    font-size: 1.2vw;
}
footer p {
    line-height: 16px;
    font-size: 1vw;
}
#footer-table {
    width: 80%;
}



